@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif; }

body {
  background-color: #c7d5eb; }

.header {
  padding: 16px 0; }

#group-header {
  justify-content: space-between; }
  #group-header .icon-edit-title {
    display: inline-block;
    margin: auto 0;
    padding: 0 10px;
    font-size: 20px;
    cursor: pointer; }
  #group-header .icon-edit-title:hover {
    opacity: 0.5; }
  #group-header .group-title-time {
    align-self: center; }
  #group-header .row.list-icon-header_handle {
    list-style-type: none; }
  #group-header .icon-header-doc {
    margin: auto 4px;
    background-color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }

#modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  background-color: #333;
  z-index: 1;
  opacity: 0.5; }

.tox .tox-editor-header {
  z-index: 0 !important; }

.tox.tox-tinymce {
  height: 82vh !important; }

.tox-statusbar {
  display: none !important; }

body::-webkit-scrollbar {
  display: none; }

.doc-title.edit-able {
  padding: 5px;
  border: 1px solid #fff;
  z-index: 2; }

.hide {
  display: none; }
