:root {
	--primary-color: #e26e70;
}

.modal__inner {
	width: 360px;
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
	animation: showModal linear 0.2s;
	position: relative;
	margin: 100px auto;
}

@keyframes showModal {
	from {
		top: -200px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

.modal__header {
	background-color: var(--primary-color);
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 16px; 
	font-size: 17px;
}

.modal__body {
	padding: 15px;
}

.modal__footer {
	padding: 0px 16px 15px 0;
	text-align: right;
}

.modal__footer .btn {
    min-width: 100px;
	outline: none;
	border: none;
	padding: 10px 30px;
	background-color: var(--primary-color);
	color: white;
	border-radius: 6px;
	cursor: pointer;
    letter-spacing: 0.8px;
    font-size: 14px;
    opacity: 1;
}

.modal__footer .btn:hover {
    opacity: 0.8;
}

.modal__footer .btn-close {
    margin-right: 5px;
    background-color: #ccc;
}

.modal__header .icon-close {
	cursor: pointer;
	font-size: 18px;
    padding: 5px;
    margin: -5px;
}